body{
    text-align: center;
}

.choice-image{
    height: 80px;
    width: 80px;
    background-color: red;
}

.btn-style{
    background-color:lightcyan;
    color: blue;
    border-radius: 5px;
}
.btn-style:hover{
    color: white;
    background-color: green;
    cursor: pointer;
}


.style-button{
    cursor: pointer;

}


.heading-style{
    color: brown;
}


    

